@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 128, 128, 128;
  --fc-border-color: #404040;
}

body {
  background: black;
  color: rgb(var(--foreground-rgb));
  cursor: none;
}

.fullscreen-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}